        * {
            box-sizing: border-box;
        }
        h1 {
            font-family: Verdana, Helvetica, sans-serif;
            margin:auto;
            text-align: center;
        }
        h2 {
            font-family: Verdana, Helvetica, sans-serif;
            margin:0px;
            float:right;
            text-align: center;
            width:200px;
            border: 1px solid black;
            padding-right: 20px;
        }
        .container {
            margin:20px;
            width:100%;
        }
        .menuCard {
            font-family: Verdana, Helvetica, sans-serif;
            border: 1px solid black;
            background: #CCCCCC;
            margin: 10px;
        }
        .backgroundRed {
            background-color:#EF4135;
        }
        .backgroundBlue {
            background-color:#cce6ff;
        }
        .backgroundWhite {
            background-color:#ffffff;
        }
        .menuCard > p {
            padding: 10px;
            clear:both;
        }
        /* Responsive Layout Styles */
        /* Large Devices */
        @media (min-width: 1200px) {
            .col-lg-4 {
                float: left;
                width: 30%
            }
        }
        
        /* medium - tablets */
        @media (min-width:950px) and (max-width:1199px) {
            .col-md-6 {
                float: left;
                width: 45%
            }
            .col-md-12 {
                float: left;
                width: 92%
            }
        }
        
        /* small - phones */
        @media (max-width:949px) {
            .col-sm-12 {
                float: left;
                width: 92%
            }

        }
